.fa-power-off{
    color:red !important;
}

.main-panel .main-content {
    padding: 10px;
}

.main-content .breadcrumb {
    margin-bottom:5px;
    padding: 5px;
}

.main-content .card {
    padding: 5px;
    margin-bottom: 0;
}
